#videos {
  float:  right;  
  width: 70%;
  height: 100vh;
  background-color: #f4f6f5;
}
#publisher {
  position: absolute;
  width: 20% !important;
  height: 170px !important;
  right: 2%;
  top: 20%;
  z-index: 100;
  border-radius: 3px;
}

img {
  width: 22%;
  margin: 0 auto;
  border-radius: 50%;
}
#subscriber {
  width: 90% !important;
  height: 90vh !important;
  margin: 14px auto;
  z-index: 10;
}
.activelist {
  background: #0f1821;
  width: 30%;
  height: 100vh !important;
  float: left;
}
  .button-row button,
  .button-row a {
    margin-top: 3%;  
    margin-right: 8px;
    height: 30px;
    font-size: 18px;
    border-radius: 10px;
    background: #2d72b4;
    width: 30%;
    color: white;
  }
  p {
      font-size: 20px;
  }
  .endbut {
    width: 15vh;
    background: #eb1717;
    color: white;
    height : 30px;
    margin : 0 auto;
    border-radius: 10px;
  }
  .docbut {
    width: 25vh;
    background: #2d72b4;
    color: white;
    height : 50px;
    margin-left  : 20px;
    border-radius: 10px;
  }
  
  .example-form {
      min-width: 100%;
      max-width: 100%;
      width: 100%;
      margin: 0 auto;
      font-size: 18px;
     
      background-color: #f4f6f5;
    }
    .maindiv {
        background: #e6e6e6;
        margin: 0 auto;
        margin-top: 10%;
        text-align: center; 
        border-radius: 10px;
    }
    .example-full-width {
      width: 100%;
     
    }
    mat-input-element mat-form-field-autofill-control cdk-text-field-autofill-monitored{
        width: 100%;
    }
    ::ng-deep .mat-form-field-underline {
      display: none;   
     }
     input {
      line-height: 12px;
      text-align: center;
      font-size: 12px;
      border-radius: 10px;
      width: 40%;
      
     }
     .mat-input-infix mat-form-field-infix{
       height: 5%;
     }
     ::ng-deep .mat-input-wrapper{
      font-size: 16px;
      margin-top: 10px;
    }
    h4 {
      text-align: center;
    }
    footer {
      position: absolute;
      background: red;
      bottom: 0;
      width: 100%;
      /* Set the fixed height of the footer here */
      height: 8%;
      line-height: 20px;
    }
    .message {
      width: 93%;
      height: 95%;
    }
    .pt-4 {
      padding-top: 0 !important;
  }