<html>
  <body>
    <div class="col-md-2" id="user-list">
      <ul>
        <li ng-repeat="user in onlineusers ">{{user}}</li>
      </ul>
      <div class="fixed"></div>
    </div>
  <div *ngIf="wel" class="maindiv" >
    <h1>Welcome</h1>
  <form class="example-form">
    <div class="example-full-width" >
      <label style="background:white " >Name</label>
      <br>
      <input required #nameinput >
      <br>
      <label>Phone</label>
      <br>
      <input required  #phoneinput >
    </div>
  </form> 
  <div class="button-row" >
    <button mat-raised-button color="primary" (click) ="hidediv(nameinput.value, phoneinput.value )" >Start Call</button>
    </div>

</div>
<div *ngIf="call" >
  <h1>Welcome {{callername}} to Doctors Waiting Room</h1>
  <button class="endbut" mat-raised-button *ngIf="end" color="warn" (click)="endcall()" >End Call</button>
  <div *ngIf="session" >
    <app-publisher class="publisher" [session]="session"></app-publisher> 
   <app-subscriber class="subscriber" *ngFor="let stream of streams" [stream]="stream" [session]="session"></app-subscriber>
</div>
</div>
</body>
</html>

<router-outlet></router-outlet>