
  
  <div *ngIf="wel" class="maindiv" >
    <h1>Welcome</h1>
 <!-- <form class="example-form">
    <div class="example-full-width" >
      <label >Name *</label>
      <br>
      <input required #nameinput >
      <br>
      <label>Phone</label>
      <br>
      <input required  #phoneinput >
    </div>
  </form> 
  <div class="button-row" >
    <button mat-raised-button color="primary" (click) ="hidediv(nameinput.value, phoneinput.value )" >Start Call</button>
    </div>--> 
    <div  class="card text-center">
      <p>Login Using Social Accounts</p>
        <div class="card-block">
        <button class="btn btn-social-icon btn-google" (click)="signInWithGoogle()"><span class="fa fa-google"></span></button>
        <button class="btn btn-social-icon btn-facebook" (click)="signInWithFB()"><span class="fa fa-facebook"></span></button>
        </div>
      </div>
 
</div>

<div *ngIf="myuser" >
    <div *ngIf="user" class="card text-center">
     
      <div class="card-block">
        <h2>Profile</h2>
      </div>
      <img class=" img-responsive photo" src="{{ user.photoUrl }}">
      <div class="card-block">
        <h4 style="color : black" class="card-title">{{ user.name }}</h4>
        <p class="card-text">{{ user.email }}</p>
      </div>
      <div class="card-block">
        <button class="btn btn-primary" (click)="WaitingRoom()">Call Now </button>
        <button style="margin-left : 1% " class="btn btn-danger" (click)="signOut()">Sign out</button>
      </div>
    </div>
    </div>
<div *ngIf="call" >

<div class="activelist" >
  <h4 style="color : white " >Welcome {{callername}}</h4> <div class="card-block">
        <button class="btn btn-danger" (click)="signOut()">Sign out</button>
      </div>
  <div style="border : 1px solid white "  ></div>  
</div>
  <div id="videos"  >
    <p *ngIf="note" style="text-align: center ">
        Welcome to {{room}} Waiting Room
      </p>
    <button class="endbut" mat-raised-button *ngIf="end" color="warn" (click)="endcall()" >End</button>
    <div id="subscriber"  ></div>
    <div id="publisher"></div>
  </div>
</div>
<footer  class="page-footer font-small blue pt-4">
  <input class="message" > 
  <button class="btn btn-primary" (click)="SendMessage()">Send</button>
</footer>
<router-outlet style="margin : 0 !important"></router-outlet>