
    
  <div *ngIf="wel" class="maindiv" >
    <h1>Welcome</h1>
  <form class="example-form">
    <div class="example-full-width" >
      <label >Name</label>
      <br>
      <input required #nameinput >
      <br>
      <label>Phone</label>
      <br>
      <input required  #phoneinput >
    </div>
  </form> 
  <div class="button-row" >
    <button mat-raised-button color="primary" (click) ="hidediv(nameinput.value, phoneinput.value )" >Start Call</button>
    </div>

</div>
<div *ngIf="call" >
  
<div class="activelist" >
  <h4 style="color : white " >Welcome {{callername}}</h4>
  <div style="border : 1px solid white "  ></div>  
</div>
  <div id="videos"  >
  <button class="endbut" mat-raised-button *ngIf="end" color="warn" (click)="endcall()" >End</button>
    <div id="subscriber"  ></div>
    <div id="publisher"></div>
  </div>
</div>

<router-outlet style="margin : 0 !important"></router-outlet>