#videos {
    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #DDD;
  }
  #publisher {
    position: absolute;
    width: 160px !important;
    height: 200px !important;
    right: 15px;
    top: 200px;
    z-index: 100;
    border-radius: 3px;
  }
  #subscriber {
    border: 3px solid white;
    width: 320px !important;
    height: 400px !important;
    margin: 14px auto;
    z-index: 10;
  }

.button-row button,
.button-row a {
  margin: 0 auto;
  align-self: auto;
  margin-right: 8px;
  height: 30px;
  font-size: 18px;
  background: #f44336;

  border-radius: 10px;
  width: 15%;
  color: white;
}
p {
    font-size: 20px;
  }
.endbut {
  width: 25vh;
  background: #f44336;
  color: white;
  height : 50px;
  border-radius: 10px;
}
.callbut {
  order: 10;
  width: 25vh;
  background: #2d72b4;
  color: white;
  height : 50px;
  display: inline-block;
  border-radius: 10px;
}
matline {
  display: inline-block;
}
h1 {
  display: inline-block;
}
.example-form {
    min-width: 80%;
    max-width: 80%;
    width: 100%;
    margin: 0 auto;
    font-size: 18px;
    margin-top: 5%;
    background-color: #f4f6f5;
  }
  .maindiv {
      background: #e6e6e6;
      width: 50%;
      margin: 0 auto;
      margin-top: 10%;
      height: 40vh;
      text-align: center;  
      border-radius: 10px;
  }
  .example-full-width {
    width: 40%;
  }
  mat-input-element mat-form-field-autofill-control cdk-text-field-autofill-monitored{
      width: 100%;
  }
  ::ng-deep .mat-form-field-underline {
    display: none;   
   }
   html, body { height: 100%; width: 100%; margin: 0; }
 
   input {
     line-height: 4px;
     height: 20%;
   }
   .mat-input-infix mat-form-field-infix{
     height: 5%;
   }
   ::ng-deep .mat-input-wrapper{
    font-size: 16px;
    margin-top: 10px;
  }
  ul ul, ol ul {
    list-style-type: none;
  }