<div *ngIf="wel" class="maindiv" >
  <h1>Welcome</h1>
   <div  class="card text-center">
    <p>Login Using Social Accounts</p>
      <div class="card-block">
      <button class="btn btn-social-icon btn-google" (click)="signInWithGoogle()"><span class="fa fa-google"></span></button>
      <button class="btn btn-social-icon btn-facebook" (click)="signInWithFB()"><span class="fa fa-facebook"></span></button>
      </div>
    </div>
 
</div>
<div *ngIf="myuser" >
<div *ngIf="user" class="card text-center">
 
  <div class="card-block">
    <h2>Profile</h2>
  </div>
  <img class=" img-responsive photo" src="{{ user.photoUrl }}">
  <div class="card-block">
    <h4 style="color : black" class="card-title">{{ user.name }}</h4>
    <p class="card-text">{{ user.email }}</p>
  </div>
  <div class="card-block">
    <button class="btn btn-primary" (click)="signOut()">My Waiting Room</button>
    <button style="margin-left : 1% " class="btn btn-danger" (click)="WaitingRoom()">Sign out</button>
  </div>
</div>
</div>
<div class="main" *ngIf= "waiting" >
<div class="activelist" >

  <div style=" border: 1px solid white " >

  </div>
  <h6 style="color : white " >Active Patients</h6>
  <div style=" border: 0.5px solid white " >

    </div>
  <mat-list *ngIf="list">
    <mat-list-item *ngFor="let caller of onlinecallers; let i = index">
     <h2 matLine style="color :white; font-size : 18px; " > {{caller}} </h2>
     <button matLine  (click)="startCall(i)" class="callbut" *ngIf="callbut" mat-raised-button >Call </button>
     
     </mat-list-item>
    
  </mat-list>
  <div class="button-row" >

  </div>
</div>
<div id="videos" >
    <button class="endbut" mat-raised-button *ngIf="end" color="warn" (click)="endCall()" >End</button>
  <div id="subscriber"  ></div>
  <div id="publisher"></div>
</div>
</div>
<router-outlet></router-outlet>