
<div class="main">
<div class="activelist" >
  <h4>Welcome {{room}} </h4>
  <div style=" border: 1px solid white " >

  </div>
  <h6 style="color : white " >Active Patients</h6>
  <div style=" border: 0.5px solid white " >

    </div>
  <mat-list *ngIf="list">
    <mat-list-item *ngFor="let caller of onlinecallers; let i = index">
     <h2 matLine style="color :white; font-size : 18px; " > {{caller}} </h2>
     <button matLine  (click)="startCall(i)" class="callbut" *ngIf="callbut" mat-raised-button >Call </button>
     
     </mat-list-item>
     
  </mat-list>
  <div class="button-row" >

  </div>
</div>
<div id="videos" >
    <button class="endbut" mat-raised-button *ngIf="end" color="warn" (click)="endCall()" >End</button>
  <div id="subscriber"  ></div>
  <div id="publisher"></div>
</div>
</div>
<router-outlet></router-outlet>