

<div>
  <h1>Welcome Doctor</h1>
  <mat-list *ngIf="list">
    <mat-list-item *ngFor="let caller of onlinecallers; let i = index">
     <h1 matLine> {{caller}} </h1>
     <p>{{i}} </p>
     <button matLine  (click)="startCall(i)" class="callbut" *ngIf="callbut" mat-raised-button >Call </button>
    </mat-list-item>
  </mat-list>
  <div class="button-row" >
<button class="endbut" mat-raised-button *ngIf="end" color="warn" (click)="endCall()" >End Call</button>
  </div>
<div id="videos" *ngIf="vid" >
  <div id="subscriber"  ></div>
  <div id="publisher"></div>
</div>
</div>

<router-outlet></router-outlet>