<base href="/">

<div>
  <h1>Welcome Doctor</h1>
  <ul>
    <li *ngFor="let onlineCaller of onlinecallers">
      {{ onlineCaller.name }}
    </li>
  </ul>
  <button class="callbut" mat-raised-button *ngIf="callbut"  (click)="hidediv()" >Start Call</button>
  <button class="endbut" mat-raised-button *ngIf="end" color="warn" (click)="endcall()" >End Call</button>
  <div *ngIf="session" >
  <app-publisher class="publisher" [session]="session"></app-publisher>
  <app-subscriber class="subscriber" *ngFor="let stream of streams" [stream]="stream" [session]="session"></app-subscriber>
</div>
</div>