<base href="/">

<div>
  <h1>Welcome Doctor</h1>
  <mat-list *ngIf="list">
    <mat-list-item *ngFor="let caller of onlinecallers; let i = index">
     <h1 matLine> {{caller}} </h1>
     <h2 matLine >Caller number in Queue {{i+1}} </h2>
      <button matLine  (click)="hidediv(i)" class="callbut" *ngIf="callbut" mat-raised-button >Call </button>
    </mat-list-item>
  </mat-list>
<button class="endbut" mat-raised-button *ngIf="end" color="warn" (click)="endcall()" >End Call</button>
  <div *ngIf="session" >
    <app-publisher class="publisher" [session]="session"></app-publisher> 
  
  <app-subscriber class="subscriber" *ngFor="let stream of streams" [stream]="stream" [session]="session"></app-subscriber>
</div>
</div>